.button {
  align-items: center;
  appearance: none;
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  width: 80px;
  height: 35px;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin: 5px;
}

.button:active,
.button:focus {
  outline: none;
}

.button:hover {
  background-position: -20px -20px;
  box-shadow: rgba(7, 78, 0, 0.25) 0 0 0 0.125em;
}
.login {
  background-color: #549b6f;
}

.signup {
  background-color: #3b3d3c;
}

.message-send-btn {
  left: 35%;
}
